#!/usr/bin/env bash

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias desktop="cd ~/Desktop"
alias sites="cd ~/Sites"

# React Projects
alias create-my-react-app="bash ~/bin/create-my-react-app.sh"
