#!/usr/bin/env bash

# Bash Exports

# Git branch in prompt.
export PS1="\w\[\033[32m\]\$(parse_git_branch)\[\033[00m\] $ "

# Node Version Manager
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
export NVM_DIR=~/.nvm
